<div class="container">
  <h1 class="titulo">Projetos Cadastrados</h1>

  <div class="card" *ngFor="let projeto of listaProjetos">
    <h2>{{ projeto.nome }}</h2>
    <p><strong>Status:</strong> {{ projeto.status }}</p>
    <p><strong>Descrição:</strong> {{ projeto.descricao }}</p>
    <p><strong>Responsável:</strong> {{ projeto.responsavel }}</p>

    <div class="botoes">
      <button
        class="botao-editar"
        [routerLink]="['/editar-projeto', projeto.id]"
      >
        Editar
      </button>

      <button (click)="excluirProjeto(projeto.id)" class="botao-excluir">
        Excluir Projeto
      </button>
    </div>
  </div>
</div>
